/**
 * partials/header.sass
 */

.site-header
  position: absolute
  width: 100%
  top: 30px
  padding: 40px 0 30px
  // background: #006c84

  h1
    display: inline-block
    vertical-align: middle
