/**
 * partials/sections.sass
 */


.light
  @extend %theme-light


.dark
  @extend %theme-dark



#teaser
  @extend %theme-dark
  height: 100vh
  padding-top: 200px
  text-align: center
  background: url(../img/bg_teaser.jpg) no-repeat center
  background-size: cover

  h2
    color: #d9edf7

  h3
    padding: 1em 0

  .summary
    max-width: 550px
    margin: 0 auto 100px
