/**
 * partials/social.sass
 */

.social-networking
  margin: 20px 0

  p
    margin-bottom: 10px
    text-align: center
    color: #fff9e1

  ul
    font-size: 0
    text-align: center

  li
    display: inline-block
    vertical-align: middle
    margin: 0 10px

  a
    font-family: $font-base
    font-size: 0
    text-decoration: none

  .social-icon
    display: block
    width: 50px
    height: 50px
    overflow: hidden
    border-radius: 10px
    background: #d8d8d8
    opacity: 0.7


  .social-icon--twitter
    background: url(../img/social-icons/twitter.png) no-repeat center center
    background-size: contain

  .social-icon--facebook
    background: url(../img/social-icons/facebook.png) no-repeat center center
    background-size: contain

  .social-icon--linkedin
    background: url(../img/social-icons/linkedin.png) no-repeat center center
    background-size: contain

  .social-icon--vimeo
    background: url(../img/social-icons/vimeo.png) no-repeat center center
    background-size: contain
